<body>
    <a href="/Learning-JavaScript/AstroJS/first-astro-site">Home</a>
    <a href="/Learning-JavaScript/AstroJS/first-astro-site/about">About</a>
    <a href="/Learning-JavaScript/AstroJS/first-astro-site/hobbies">Hobbies</a>
    <h1>Who Am I?</h1>
    <p>My name is Kailash! Check out my <a href="github.com/kailashrao">GitHub page!</a></p>
</body>