---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Who Am I?">
    <p>My name is Kailash! Check out my <a href="github.com/kailashrao">GitHub page!</a></p>
</MainLayout>
    
    
