<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/hobbies">Hobbies</a>
    <h1>My Hobbies</h1>
    <ul>
        <li>Running</li>
        <li>Playing Tabla</li>
        <li>Learning about tech</li>
        <li>Making Personal Projects</li>
    </ul>
</body>