---
const pageTitle = "Hobbies"
const hobbies = ["Running", "Playing Tabla","Playing Sports", "Reading", "Personal Projects", "Learning about new tech"]
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title=" My Hobbies">
    <ul>
        {hobbies.map((hobby)=><li>{hobby}</li>)}
    </ul>
</MainLayout>